footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    background-color: rgb(114, 111, 108);
    margin-top: 60px;
    height: 35vh;
  }
  .getInTouch{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #contact{
    display: flex;
    justify-content: center;
    gap: 300px;
  }
  footer h4{
    text-align: center;
    color: rgb(54, 45, 45);
  }
  footer img{
    height: 30px;
    width: 50px;

  }
  .payment{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

  
  
  @media (max-width: 760px) {
    footer {
      margin-top: 30px;
      height: 40vh;
      padding: 10px;
      font-size: 10px;
    }
  
    #contact {
      flex-direction: row;
     margin-top: -20px;
      font-size: 15px;
      gap: 40px;
      padding: 10px;
    }
    footer h2{
      font-size: 15px;
    }
    footer p{
      font-size: 10px;
    }
   
    footer img{
      height: 20px;
      width: 30px;
    }
  
    .payment {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      height: 20px;
      column-gap: 0px;
    }
  }
  